langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv

#Embeddings
langchain-huggingface
sentence-transformers

#Langgraph
langchain
langgraph
langchain-core


arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu

